.blog-footer
{
    background: #73B4BF;
}
.header
{
    background-color:#73B4BF;
    height:60px;
}
.customTable
{
    margin-top: 15px;
}
.container-fluid
{
    background-color: #50A1AF;
    height:700px;
}
h5
{
    margin-bottom: 0px;
}
body
{
    background-color: #73B4BF;
}